Datasets/*
Evaluate/*_OLD
Test/*
Train/*
Validation/*
.vscode/*
.DS_STORE
Distributer/obj/*
Service/__pycache__/*
Service/.vscode/launch.json
/.vs
/Demo/SnowModel-Demo/.vs/SnowModel-Demo/v16
/Demo/SnowModel-Demo/packages/System.Drawing.Common.4.6.0
/Demo/SnowModel-Demo/SnowModel-Demo/bin/Debug
/Demo/SnowModel-Demo/SnowModel-Demo/obj/Debug
/Demo/SnowModel-Demo/packages

**/*.h5